<div>
  <%= image_tag @nancyatterapp.app_image.url, class:"main top-main" %>
  <div class="top-message">
    <%= tag.h2 @nancyatterapp.app_name %>
    <%= tag.p @nancyatterapp.main_text %>
  </div>
</div>